body {
  padding-top: 70px;
  padding-bottom: 50px;
  background-color: #eee;
}

.login-image{
  float: left;
  padding-top: 5px;
}

.login-image img
{
  width: 40px;
  height: 40px;
  border-radius: 25px;
}